* {
	margin:0;
	padding: 0;

}
.topnav {
	width: 100%;
    height: 41px;
    background-color: black;
    margin: 0px;
}
.btn {
	margin:3px;
	background-color: grey;
	color: white;
}
.btn:hover {
	background-color: violet;
}
.list {
	float: left;
	width: 300px;
	height:300px;


}
.container {
	float: left;
	width: 300px;
	height:300px;
	
}