* {
	margin: 0;
	padding: 0;
}


h3 {
	color: red;
	text-decoration: underline;


}
p {
	color: blue;
}


.animate {
	float: left;
	display: none;
	margin: 2.4px;
}
.imgs {
	width: 71px;
    height: 34px;
}