* {
	margin: 0;
	padding: 0;
}
/*navbar-----------------------------------------------------------------------*/
.navbare {
	background-color: lightblue;
	width: 100%;
	height: 60px;
}
.navbare .home {
	margin-top:4px;
	margin-left:32px;
	width:100px;
	height:51px;
	font-size: 24px;
	float: left;
}
.navbare .user-control {
	position: relative;
}
.navbare .user-control .user {
	margin-top:4px;
	margin-right:32px;
	width:100px;
	height:51px;
}
.navbare .user-control .user i {
	font-size: 30px;
}
.navbare .user-control .dropdown-menu {
	position: absolute;
    width: 500px;
    left: -399px;
    background-color: white;
    height: 500px;
}
.navbare .user-control .dropdown-menu h4 {
	text-align: center;
}
.navbare button:hover {
	background-color: blue;
}
.navbare h1 {
	float: left;
	text-align: center;
	margin-top: 9px;
	margin-left: 20px;
}
.under-navbar-border {
	background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
	height: 4px;
}
/* container ------------------------------------------------------------------*/
.container {
	min-width:98%;
}
/* sidebar-left ---------------------------------------------------------------*/
.container .sidebar-left {
	height: 500px;
	background-color: #bbcae6;
}
/* sidebar-content ------------------------------------------------------------*/
.container .content {
	height: 500px;
	background-color: lightgrey;
}
/* sidebar-right --------------------------------------------------------------*/
.container .sidebar-right {
	height: 500px;
	background-color: #c5bcc5;
}